@{
    Layout = null;
}
<!DOCTYPE html>
<html class="" lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="#" type="image/jpeg" />
    <link rel="alternate" type="application/rss+xml" title="" href="#" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
    <link rel="shortcut icon" href="../Docs/favicon.ico" type="image/x-icon">
    <title>Mukhyamantri Krushi Udyoga Yojana</title>
    <style type="text/css" media="all">
        @@import url("../../Resource/beta.nielit.gov.in/modules/system/system.basef1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/system/system.menusf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/system/system.messagesf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/system/system.themef1c9.css?oys4cm");
    </style>
    <style type="text/css" media="all">
        @@import url("../../Resource/beta.nielit.gov.in/modules/comment/commentf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/date/date_api/datef1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/date/date_popup/themes/datepicker.1.7f1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/domain/domain_nav/domain_navf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/field/theme/fieldf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/node/nodef1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/search/searchf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/user/userf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/forum/forumf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/views/css/viewsf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/ckeditor/css/ckeditorf1c9.css?oys4cm");
    </style>
    <style type="text/css" media="all">
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/ctools/css/ctoolsf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/panels/css/panelsf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/taxonomy_access/taxonomy_accessf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/modules/locale/localef1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/custom_search/custom_searchf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/responsive_menus/styles/responsive_menus_simple/css/responsive_menus_simplef1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/modules/styleswitcher/styleswitcher.overlayf1c9.css?oys4cm");
    </style>
    <style type="text/css" media="all">
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/themes/berry/mainf1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/themes/berry/gh-pages/css/demof1c9.css?oys4cm");
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/themes/berry/gh-pages/css/rainbow/githubf1c9.css?oys4cm");
    </style>
    <style type="text/css" media="print">
        @@import url("../../Resource/beta.nielit.gov.in/sites/all/themes/berry/css/printf1c9.css?oys4cm");
    </style>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../Resource/beta.nielit.gov.in/misc/jquery.once7839.js?v=1.2"></script>
    <script type="text/javascript" src="../../Resource/beta.nielit.gov.in/misc/drupalf1c9.js?oys4cm"></script>
    <script type="text/javascript" src="../../Resource/beta.nielit.gov.in/sites/all/modules/jquery_update/replace/ui/external/jquery.cookie1683.js?v=67fb34f6a866c40d0570"></script>
    <script type="text/javascript" src="../../Resource/beta.nielit.gov.in/sites/all/modules/custom_search/js/custom_searchf1c9.js?oys4cm"></script>
    <script type="text/javascript" src="../../Resource/beta.nielit.gov.in/sites/all/modules/responsive_menus/styles/responsive_menus_simple/js/responsive_menus_simplef1c9.js?oys4cm"></script>
    <script type="text/javascript" src="../../Resource/beta.nielit.gov.in/sites/all/modules/google_analytics/googleanalyticsf1c9.js?oys4cm"></script>
    <script type="text/javascript" src="../../Resource/beta.nielit.gov.in/sites/all/modules/styleswitcher/styleswitcherf1c9.js?oys4cm"></script>
    <script type="text/javascript" src="../../Resource/beta.nielit.gov.in/sites/all/themes/berry/js/sliderf1c9.js?oys4cm"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.navigation li').hover(
                function () {
                    jQuery('ul', this).slideDown();
                },
                function () {
                    jQuery('ul', this).slideUp();
                }
            );
        });
    </script>
</head>
<body class="html front not-logged-in one-sidebar sidebar-first page-node domain-nielit-akalinfosys-com i18n-en">
    <meta property="og:description" data-name="description" content="Odisha Sate Seeds Corporation Ltd., popularly known by its brand name “ORISEED” is one of the leading State Seeds Corporation among all State Seed Corporations in India serving in the larger interest of farmers from three decades with farmer’s faith brand loyalty, quality assurance, dedicated service and sustainable contribution for upliftment of farmers with Glorious achievements.">
    <meta property="og:keywords" data-name="keywords" content="OSSC">
    <meta property="og:title" data-name="title" content="Government of Odisha : Department of Agriculture & Farmers' Empowerment">
    <meta property="og:language" data-name="language" content="en">
    <script type="text/javascript" src="../../Resource/nielit.gov.in/sites/all/themes/berry/js/jquery.min.js"></script>
    <script src="../../Resource/nielit.gov.in/sites/all/themes/berry/js/jquery.vticker-min.js"></script>
    <script src="../../Resource/nielit.gov.in/sites/all/themes/berry/js/jQuery.js"></script>
    <script src="../../Resource/nielit.gov.in/sites/all/themes/berry/js/breakingNews.js"></script>
    <script src="../../Resource/nielit.gov.in/sites/all/themes/berry/js/jquery.scrollbox.js"></script>
    <script src="../../Resource/nielit.gov.in/sites/all/themes/berry/js/jquery.flexnav.js"></script>
    <link rel="stylesheet" property="stylesheet" type="text/css" href="../../Resource/nielit.gov.in/sites/all/themes/berry/css/breakingNews.css" />
    <link rel="stylesheet" property="stylesheet" href="../../Resource/nielit.gov.in/sites/all/themes/berry/media.css" />
    <script>
        (function ($) {
            $(document).ready(function () {
                $('#menuToggle').click(function (e) {
                    var $parent = $(this).parent('.map');
                    $parent.toggleClass("open");
                    var navState = $parent.hasClass('open') ? "hide" : "show";
                    $(this).attr("title", navState + " navigation");
                    setTimeout(function () {
                        console.log("timeout set");
                        $('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
                    }, 1000);
                    e.preventDefault();
                });
            });
        })(jQuery);
        $(".map a").hover(function () {
            $(this).append("<div class='pin'><img alt='pin' src='../../Resource/nielit.gov.in/sites/all/themes/berry/images/pin.png'/></div>")
        }, function () {
            $(this).children("div").remove();
        });
    </script>
    <div class="topbar-outer">
        <div class="topbar">
            <div class="topbar-right">
                <ul>
                    <li id="header-hide"><a href="~/Home/ScreenReader">Screen Reader Access</a></li>
                    <li class="header-hide header-skip"><a href="#COntentDiv">Skip to main content</a></li>
                    <li class="header-hide">
                        <div class="region region-sidebar-first">
                            <section id="block-styleswitcher-styleswitcher" class="block block-styleswitcher">
                                <h2 class="block-title">Style Switcher</h2>
                                <div class="content">
                                    <div class="item-list">
                                        <ul>
                                            <li class="first">
                                                <a href="#" id="light" class="style-switcher custom-style style-default active styleswitcher-processed" rel="nofollow">.....</a>
                                            </li>
                                            <li class="last">
                                                <a href="#" class="style-switcher custom-style style-theme2 styleswitcher-processed" id="dark" data-rel="custom/theme2" rel="nofollow">.....</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li class="header-hide aminus"><a href="#" id="decfont"><img alt="font small" src="../../Resource/nielit.gov.in/sites/all/themes/berry/images/a-minus.png" width="12" height="12"></a></li>
                    <li class="header-hide anormal"><a href="#" id="normal"><img alt="font normal" src="../../Resource/nielit.gov.in/sites/all/themes/berry/images/a-normal.png" width="11" height="11"></a></li>
                    <li class="header-hide aplus"><a href="#" id="incfont"><img alt="font increase" src="../../Resource/nielit.gov.in/sites/all/themes/berry/images/a-plus.png"></a></li>
                    <li id="header-hindi">
                        <div class="region region-language-switcher">
                            <section id="block-locale-language" class="block block-locale">
                                <h2 class="block-title">Languages</h2>
                                <div class="content">
                                    <ul class="language-switcher-locale-url">
                                        <li class="en first active"><a href="index.html" class="language-link active" xml:lang="en" lang="en"><img class="language-icon" src="../../Resource/beta.nielit.gov.in/sites/all/modules/languageicons/flags/en.png" width="16" height="12" alt="English" title="English" /> English</a></li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li id="header-search">
                        <div class="region region-content-search">
                            <section id="block-custom-search-blocks-1" class="block block-custom-search-blocks">
                                <h2 class="block-title">Custom Search 1</h2>
                                <div class="content">
                                    <form class="search-form" role="search" action="https://www.google.co.in/search?q=site:http://www.osscltd.in" method="get" id="custom-search-blocks-form-1" accept-charset="UTF-8">
                                        <div>
                                            <div class="form-item form-type-textfield form-item-custom-search-blocks-form-1">
                                                <label class="element-invisible" for="edit-custom-search-blocks-form-1--2">Search this site </label>
                                                <input title="Enter the terms you wish to search for." class="custom-search-box form-text" placeholder="" type="text" id="edit-custom-search-blocks-form-1--2" name="custom_search_blocks_form_1" value="" size="15" maxlength="128" />
                                            </div>
                                            <input type="hidden" name="delta" value="1" />
                                            <input type="hidden" name="form_build_id" value="form-H-ghrGdY0vmcaLQcFK9i7sA2J4HVbwm0MZZNt3AWdlo" />
                                            <input type="hidden" name="form_id" value="custom_search_blocks_form_1" />
                                            <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" /></div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-outer">
        <div class="header">
            <div class="header-left">
                <div class="header-left-logo" style="margin-top: 15px"><a href="#"><img style="margin-bottom: -65px" alt="APICOL Logo" src="../../Resource/nielit.gov.in/sites/all/themes/berry/images/APICOLLogo.png" /></a></div>
                <div class="header-left-text">
                    <p class="hindi" style="font-size: 15px">
                        <b>ଓଡିଶା କୃଷି ପ୍ରୋତ୍ସାହନ ଓ ପୁଞ୍ଜି ଲଗାଣ ନିଗମ ଲିଃ. (ଆପିକଲ)</b><br />
                        <b>ଓଡିଶା ସରକାରଙ୍କ ଏକ ସଂସ୍ଥା</b>
                    </p>
                    <p style="font-size: 15px">The Agricultural Promotion & Investment Corporation of Odisha Limited</p>
                    <p style="font-size: 15px">Bhubaneswar</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header-right">
                <div class="emblem" style="margin-bottom:5px">
                    <div id="english" style="margin-top: 20px">
                        <div id="headerrighttext" style="font-size: 15px; margin-bottom: 5px">କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ</div>
                        <div id="headerrighttext" style="font-size: 15px; margin-bottom: 5px">ଓଡିଶା ସରକାର</div>
                        <div id="headerrighttext1" style="font-size: 15px">Department of Agriculture & Farmers' Empowerment</div>
                        <div id="headerrighttext1" style="font-size: 15px">Government of Odisha</div>
                    </div>
                    <div id="rightlogo"><img style="margin-bottom: -90px" alt="Logo Of Govt. of Odisha" src="../../Resource/nielit.gov.in/sites/all/themes/berry/images/ogp-logo.png" /></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <nav id="block-style-main-menu">
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li class="first leaf"><a href="~/Home/Home" title="" class="active">Home</a></li>
            <li class="expanded">
                <a href="#" title="" class="active">About us</a>
                <ul class="menu">
                    <li class="first leaf"><a href="~/Home/Introduction">Introduction</a></li>
                    <li class="leaf"><a href="~/Home/Profile" title="">Profile</a></li>
                </ul>
            </li>
            <li class="leaf"><a href="~/Home/Management" title="">Prerequisites</a></li>
            <li class="leaf"><a href="~/Home/Management" title="">Registration</a></li>
            <li class="leaf"><a href="~/Home/Marketing" title="">DPR</a></li>
            <li class="leaf"><a href="~/Home/Manpower" title="">Payment</a></li>
            <li class="leaf"><a href="~/Home/Production" title="">Generate Go-Ahead</a></li>
            <li class="leaf"><a href="~/Home/Tender" title="">Beneficiary Completion</a></li>
            <li class="last expanded">
                <a href="#" title="" class="active">Contact Us</a><ul class="menu">
                    <li class="first leaf"><a href="~/Home/ContactDetails" title="">Contact Details</a></li>
                    <li class="leaf"><a href="~/Home/Directorylist">Directory List</a></li>
                </ul>
            </li>
            <li class="leaf"><a href="~/Login/Login">User Login</a></li>
        </ul>
    </nav>
    @RenderBody()
    <div class="clear"></div>
    <div class="container clearfix">
        <div class="messages error">
            <h2 class="element-invisible">Error message</h2>
            <em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).
        </div>
        <div class="full">
        </div>
        <div class="clear"></div>
        <script src="../../Resource/nielit.gov.in/sites/all/themes/berry/jquery.accTabs.js"></script>
        <script>
            $(function () {
                $('.example-a').accTabs();
                $('.example-b').accTabs({
                    defaultTab: 1
                });
                (function () {
                    var target = $('.example-c'),
                        buttonContainer = $('<div />'),
                        buttonRebuild = $('<button class="js-btn">Rebuild</button>'),
                        buttonDestroy = $('<button class="js-btn">Destroy</button>');
                    target.accTabs({
                        defaultTab: 1
                    });
                    buttonRebuild.attr('disabled', 'disabled');
                    buttonRebuild.on('click', function (event) {
                        event.preventDefault();
                        target.data('plugin_accTabs').rebuild();
                        $(this).attr('disabled', 'disabled');
                        buttonDestroy.removeAttr('disabled');
                    });
                    buttonDestroy.on('click', function (event) {
                        event.preventDefault();
                        target.data('plugin_accTabs').destroy();
                        $(this).attr('disabled', 'disabled');
                        buttonRebuild.removeAttr('disabled');
                    });
                    buttonContainer.append(buttonDestroy, buttonRebuild);
                    target.after(buttonContainer);
                })();
            });
            $(document).ready(function () {
                $("#block-menu-menu-footer-follow-us .menu li").each(function (n) {
                    $(this).attr("id", "social" + n);
                });
            });
            $(document).ready(function () {
                $("#multilines .newsticker").css("height", "330px");
                $("#js-tabs_panel--03").css("height", "335px");
                $("#js-tabs_panel--04").css("height", "335px");
            });
        </script>
        <div class="clear"></div>
    </div>
    <div class="bottom">
        <div class="bottom-area">
            <div class="bottom-box">
                <h1>Explore APICOL</h1>
                <ul>
                    <li>
                        <a href="@Url.Action(" History", "Home" )">
                            History
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" DirectorDesk", "Home" )">
                            Director Desk
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" Schemes", "Production" )">
                            Schemes
                        </a>
                    </li>
                    <li>
                        <a href="/Docs/annual_report2006-07.pdf" target="_blank">
                            Annual Report
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" RTI", "Home" )">
                            RTI
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-box">
                <h1>Website Policies</h1>
                <ul>
                    <li>
                        <a href="#">
                            Sitemap
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" TermsConditions", "Home" )">
                            Terms and Conditions
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" Disclaimer", "Home" )">
                            Disclaimer
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" PrivacyPolicy", "Home" )">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" PoliciesGuidelines", "Home" )">
                            Website Policies
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-box">
                <h1>Useful Links</h1>
                <ul>
                    <li>
                        <a href="http://agrisnetodisha.ori.nic.in/stock/farmer/FarmerList.aspx" onclick="return confirm('This link will take you to an external web site.')" target=_blank>
                            agrisnetodisha.ori.nic.in
                        </a>
                    </li>
                    <li>
                        <a href="http://odishaseedsportal.nic.in/" onclick="return confirm('This link will take you to an external web site.')" target=_blank>
                            odishaseedsportal.nic.in
                        </a>
                    </li>
                    <li>
                        <a href="https://ossopca.nic.in/" onclick="return confirm('This link will take you to an external web site.')" target=_blank>
                            ossopca.nic.in
                        </a>
                    </li>
                    <li>
                        <a href="http://odisha.gov.in/" onclick="return confirm('This link will take you to an external web site.')" target=_blank>
                            odisha.gov.in
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" Downloads", "Home" )">
                            downloads
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-box">
                <h1>Online Services</h1>
                <ul>
                    <li><a href="#">Online Registration</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#">Online DPR</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#">Online Payment</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#">Online Go-Ahead Generation</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#">Online Completion</a></li>
                </ul>
            </div>
            <div class="bottom-box-right" style="margin-left: -25px; margin-top: 5px">
                <div class="contact-us"><span style="font-weight: bold; font-size: 16px">Contact Us</span></div>
                <p>
                    <br />
                    <b>The Agricultural Promotion & Investment Corporation of Odisha Limited</b><br />
                    Baramunda, Bhubaneswar<br />
                    Odisha, PIN-751003<br />
                    Email: apicol96@yahoo.com<br />
                </p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-outer">
            <div class="footer">
                <center>
                    <div class="footer-copyright ">Copyright &copy; National Informatics Center, Bhubaneswar. All Rights Reserved.</div>
                </center>
            </div>
        </div>
        <div id="totopscroller" title="scroller"> </div>
    </div>
    <script>
        $(window).load(function (e) {
            $("#bn1").breakingNews({
                effect: "slide-h",
                autoplay: true,
                timer: 3000,
                color: "red"
            });
            $("#bn4").breakingNews({
                effect: "slide-v",
                autoplay: true,
                timer: 3000,
                color: 'green',
                border: true
            });
            $("#bn2").breakingNews({
                effect: "slide-h",
                autoplay: true,
                timer: 3000,
                color: "yellow"
            });
            $("#bn3").breakingNews({
                effect: "slide-v",
                autoplay: true,
                timer: 3000,
                color: "turquoise",
                border: true
            });
            $("#bn5").breakingNews({
                effect: "slide-v",
                color: 'orange'
            });
            $("#bn6").breakingNews({
                effect: "slide-h",
                autoplay: true,
                timer: 3000,
                color: 'purple'
            });
            $("#bn7").breakingNews({
                effect: "slide-v",
                autoplay: true,
                timer: 3000,
                color: 'darkred'
            });
            $("#bn8").breakingNews({
                effect: "slide-v",
                color: "black"
            });
            $("#bn9").breakingNews({
                effect: "slide-v",
                autoplay: true,
                timer: 3000,
                color: "light"
            });
            $("#bn10").breakingNews({
                effect: "slide-h",
                autoplay: true,
                timer: 3000,
                color: "pink"
            });
        });
    </script>
    <script>
        (function ($) {
            $.fn.totopscroller = function (options) {
                var defaults = {
                    showToBottom: true,
                    showToPrev: true,
                    link: false,
                    linkTarget: '_self',
                    toTopHtml: '<a href="#"></a>',
                    toBottomHtml: '<a href="#"></a>',
                    toPrevHtml: '<a href="#"></a>',
                    linkHtml: '<a href="#"></a>',
                    toTopClass: 'totopscroller-top',
                    toBottomClass: 'totopscroller-bottom',
                    toPrevClass: 'totopscroller-prev',
                    linkClass: 'totopscroller-lnk',
                };
                var settings = $.extend({}, defaults, options);
                var lastposition = 0;
                var wrapper = this,
                    b_top = null,
                    b_bottom = null,
                    b_prev = null,
                    b_link = null,
                    b_wrapper = null;
                var init = function () {
                    b_wrapper = $('<div></div>');
                    if (settings.showToBottom) {
                        b_bottom = $(settings.toBottomHtml);
                        b_bottom.hide();
                        b_bottom.addClass(settings.toBottomClass);
                        b_bottom.appendTo(b_wrapper);
                    }
                    if (settings.showToPrev) {
                        b_prev = $(settings.toPrevHtml);
                        b_prev.hide();
                        b_prev.addClass(settings.toPrevClass);
                        b_prev.appendTo(b_wrapper);
                    }
                    b_top = $(settings.toTopHtml);
                    b_top.hide();
                    b_top.addClass(settings.toTopClass);
                    b_top.appendTo(wrapper);
                    if (settings.link) {
                        b_link = $(settings.linkHtml);
                        b_link.attr("target", settings.linkTarget);
                        b_link.attr("href", settings.link);
                        b_link.addClass(settings.linkClass);
                        b_link.appendTo(wrapper);
                    }
                    b_wrapper.appendTo(wrapper);
                    b_top.click(function (e) {
                        e.preventDefault();
                        lastposition = $(document).scrollTop();
                        $('html, body').animate({ scrollTop: 0 },
                            {
                                duration: '500',
                                complete: function () {
                                    refresh();
                                }
                            });
                    });
                    if (settings.showToBottom) {
                        b_bottom.click(function (e) {
                            e.preventDefault();
                            lastposition = 0
                            $('html, body').animate({ scrollTop: $(document).height() },
                                {
                                    duration: '500',
                                    complete: function () {
                                        refresh();
                                    }
                                });
                        });
                    }
                    if (settings.showToPrev) {
                        b_prev.click(function (e) {
                            e.preventDefault();
                            $('html, body').animate({ scrollTop: lastposition },
                                {
                                    duration: '500',
                                    complete: function () {
                                        lastposition = 0
                                        refresh();
                                    }
                                });
                        });
                    }
                }
                var refresh = function () {
                    if ($(document).scrollTop() > 0) {
                        if (!b_top.is(":visible"))
                            b_top.fadeIn("10");
                    }
                    else if (b_top.is(":visible"))
                        b_top.fadeOut("slow");

                    if ($(window).scrollTop() + $(window).height() == $(document).height() || lastposition > 0) {
                        if (b_bottom.is(":visible"))
                            b_bottom.fadeOut("10");
                    }
                    else if (!b_bottom.is(":visible"))
                        b_bottom.fadeIn("10");

                    if (lastposition > 0) {
                        if (!b_prev.is(":visible"))
                            b_prev.fadeIn("10");
                    }
                    else if (b_prev.is(":visible"))
                        b_prev.fadeOut("10");
                }
                $(window).scroll(function () {
                    if ($('html, body').is(":animated"))
                        return;
                    refresh();
                });
                init();
                refresh();
                return this;
            };
        }(jQuery));
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dark').click(function () {
                $('head').append('<link rel="stylesheet" id="DarkTheme" type="text/css" href="../Resource/beta.nielit.gov.in/styleswitcher/css/berry/main3.css">');
            });
            $('#light').click(function () {
                $('#DarkTheme').remove();
            });
            $('#incfont').click(function () {
                curSize = parseInt($("#COntentDiv").css('font-size')) + 2;
                if (curSize <= 20)
                    $("#COntentDiv").css('font-size', curSize);
                $("#COntentDiv p").css('font-size', curSize);
                $("#COntentDiv div ul li a").css('font-size', curSize);
                $("#COntentDiv ul li a").css('font-size', curSize);
                $("#COntentDiv h2").css('font-size', curSize);
                $(".wrapstagp").css('font-size', curSize);
                $("span").css('font-size', curSize);
            });
            $('#decfont').click(function () {
                curSize = parseInt($("#COntentDiv").css('font-size')) - 2;
                if (curSize >= 12)
                    $("#COntentDiv").css('font-size', curSize);
                $("#COntentDiv p").css('font-size', curSize);
                $("#COntentDiv div ul li a").css('font-size', curSize);
                $("#COntentDiv ul li a").css('font-size', curSize);
                $("#COntentDiv h2").css('font-size', curSize);
                $(".wrapstagp").css('font-size', curSize);
                $("span").css('font-size', curSize);
            });
            $('#normal').click(function () {
                $("#COntentDiv").css('font-size', '14px');
                $("#COntentDiv p").css('font-size', '14px');
                $("#COntentDiv div ul li a").css('font-size', '14px');
                $("#COntentDiv ul li a").css('font-size', '14px');
                $("#COntentDiv h2").css('font-size', '14px');
                $(".wrapstagp").css('font-size', '14px');
                $("span").css('font-size', '14px');
                $(".boxmain4 p").css('font-size', '12px');
            });
        });
        $(function () {
            $('#totopscroller').totopscroller({ speed: 200 });
        });
        $(document).ready(function () {
            $(document).on('focus', ':input', function () {
                $(this).attr('autocomplete', 'off');
            });
        });
    </script>
    <script>
        jQuery(document).ready(function ($) {
            var _SlideshowTransitions = [
                { $Duration: 1200, $During: { $Left: [0.3, 0.7] }, $FlyDirection: 2, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $ScaleHorizontal: 0.3, $Opacity: 2 }
                , { $Duration: 1200, $SlideOut: true, $FlyDirection: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $ScaleHorizontal: 0.3, $Opacity: 2 }
            ];
            var options = {
                $AutoPlay: true,
                $AutoPlaySteps: 1,
                $AutoPlayInterval: 4000,
                $PauseOnHover: 1,
                $ArrowKeyNavigation: true,
                $SlideDuration: 500,
                $MinDragOffsetToSlide: 20,
                $SlideSpacing: 0,
                $DisplayPieces: 1,
                $ParkingPosition: 0,
                $UISearchMode: 1,
                $PlayOrientation: 1,
                $DragOrientation: 3,
                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: _SlideshowTransitions,
                    $TransitionsOrder: 1,
                    $ShowLink: true
                },
                $BulletNavigatorOptions: {
                    $Class: $JssorBulletNavigator$,
                    $ChanceToShow: 2,
                    $Lanes: 1,
                    $SpacingX: 10,
                    $SpacingY: 10
                },
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$,
                    $ChanceToShow: 2
                },
                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,
                    $ChanceToShow: 2,
                    $ActionMode: 0,
                    $DisableDrag: true
                }
            };
            var jssor_sliderb = new $JssorSlider$("sliderb_container", options);
            function ScaleSlider() {
                var parentWidth = jssor_sliderb.$Elmt.parentNode.clientWidth;
                if (parentWidth)
                    jssor_sliderb.$SetScaleWidth(Math.min(parentWidth, 1920));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();
            if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
                $(window).bind('resize', ScaleSlider);
            }
            $('.StartSlideshowBtn').click(function () {
                if (jssor_sliderb.$IsAutoPlaying()) {
                    jssor_sliderb.$Pause();
                    $('.StartSlideshowBtn_img').attr('src', 'sites/all/themes/berry/images/pause.png');
                }
                else {
                    jssor_sliderb.$Play();
                    $('.StartSlideshowBtn_img').attr('src', '../../Resource/nielit.gov.in/sites/all/themes/berry/images/play.png');
                }
            });
        });
        $("document").ready(function ($) {
            var nav = $('.header-outer');
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    nav.addClass("f-nav");
                } else {
                    nav.removeClass("f-nav");
                }
            });
        });
        $('#demo5').scrollbox({
            direction: 'h',
            distance: 140
        });
    </script>
</body>
</html>