@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutBLO.cshtml";
}
@using (Html.BeginForm("Home", "BLO", FormMethod.Post, new { id = "FormId" }))
{
    @Html.AntiForgeryToken()
    <div class="right_col" role="main" ng-app="BLOApp" ng-controller="BLOCtrl" ng-cloak>
        <div class="page-title">
            <div class="mid_center" style="padding: 200px 20px">
                <h1>Welcome {{desgName}}, {{blockName | capitalize}}</h1>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
}

<script>
    var app = angular.module("BLOApp", []);
    app.controller("BLOCtrl", function ($scope, $http) {
        var token = document.getElementsByName('__RequestVerificationToken')[0].value;
        $scope.blockName = "@ViewBag.BlockName";
        if ("@ViewBag.Department" == "Agriculture") { $scope.desgName = "AAO"; } else if ("@ViewBag.Department" == "Animal Resources Development") { $scope.desgName = "BVO / AVAS"; } else if ("@ViewBag.Department" == "Horticulture") { $scope.desgName = "AHO"; } else if ("@ViewBag.Department" == "Fishery") { $scope.desgName = "AFO"; }
    });
    app.filter('capitalize', function () {
        return function (input) {
            return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
        }
    });
</script>